*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 3.5em;
  font-family: 'Domine', serif;
  font-weight: 400;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #5f5f5f;
}
.line{
  width: 150px;
  display: inline-block;
  margin: 0 0 40px 0;
  border-bottom: 2px solid #1ea69a;
}
.container{
  width: 100%;
}
section{
  display: inline-block;
  height: 700px;
}
section.hero{
  width: 49%;
  background-image: url(computer.jpg);
  background-position: center center;
  background-size: cover;

}
section.header{
  width: 49%;
  padding-top: 200px;
  text-align: center;
  vertical-align: top;
}
section.header .container{
  max-width: 75%;
  margin: 0 auto;
}

.heading{
  text-transform: uppercase;
  font-size: .7em;
}
.info{
  font-size: .7em;
}


@media screen and (max-width: 780px){
  section.header, section.hero{
    display: block;
    width: 100%;
  }
}
